.span10
  %h2 附加功能
  %br
  %table
    %tr
      %td
        %a{ :href => "/report/#{@report.id}/user_defined_variables"} 编辑用户自定义的变量
    %tr
      %td
        %a{ :href => "/report/#{@report.id}/export" } 导出当前报告 (Warning: 不包括附件)
    %tr
      %td
        &nbsp;
    %tr
      %td
        %a{ :href => "/report/#{@report.id}/import_nessus" } 自动从Nessus XML添加漏洞 
    %tr
      %td
        %a{ :href => "/report/#{@report.id}/import_burp" } 自动从burp XML扫描报告添加漏洞
    %tr
      %td
        &nbsp;
    %tr
      %td
        %a{ :href => "/report/#{@report.id}/status" } 生成状态报告
    %tr
      %td
        %a{ :href => "/report/#{@report.id}/text_status" } 生成文本状态报告
    %tr
      %td
        %a{ :href => "/report/#{@report.id}/asciidoc_status" }  生成当前漏洞二进制文档（测试）
    %tr
      %td
        %a{ :href => "/report/#{@report.id}/presentation" }
          报告预览
