.span10
  %form{:method => 'post'}
    %br
    %h2 #{@report.report_name}
    %br
    - if @templates.size > 0
      %h4
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修改下列信息将会出现在报告中.
      %br
      .table.table-striped
        %table{:style => 'width: 70%'}
          %tbody
            %tr
              %td{:style => 'width: 30%'}
                报告类型
              %td{:style => 'width: 70%'}
                %select{ :name => "report_type" }
                  - @templates.each do |template|
                    - if template.finding_template == false and template.status_template == false
                      - if template.report_type == @report.report_type
                        %option{ :selected => "selected" } #{template.report_type}
                      - else
                        %option #{template.report_type}
            %tr
              %td{:style => 'width: 30%'}
                标题
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'report_name', :value => "#{@report.report_name}"}
            %tr
              %td{:style => 'width: 30%'}
                公司全称
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'full_company_name', :value => "#{@report.full_company_name}"}
            %tr
              %td{:style => 'width: 30%'}
                公司简称
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'short_company_name', :value => "#{@report.short_company_name}"}
            %tr
              %td{:style => 'width: 30%'}
                报告时间
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'date', :value => "#{@report.date}"}
            %tr
              %td{:style => 'width: 30%'}
                作者
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'authors', :value => "#{@report.authors}"}
            %tr
              %td{:style => 'width: 30%'}
                测试模块名称
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'module_name', :value => "#{@report.module_name}"}
            %tr
              %td{:style => 'width: 30%'}
                测试地址
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'pentest_address', :value => "#{@report.pentest_address}"}
            %tr
              %td{:style => 'width: 30%'}
                开始时间
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'start_time', :value => "#{@report.start_time}"}
            %tr
              %td{:style => 'width: 30%'}
                结束时间
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'end_time', :value => "#{@report.end_time}"}
            %tr
              %td{:style => 'width: 30%'}
                安全评价
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'safety_evaluation', :value => "#{@report.safety_evaluation}"}   
            %tr
              %td{:style => 'width: 30%'}
                总体影响
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'total_effort', :value => "#{@report.total_effort}"}
            %tr
              %td{:style => 'width: 30%'}
                高危漏洞数
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'high_risk_num', :value => "#{@report.high_risk_num}"}
            %tr
              %td{:style => 'width: 30%'}
                中危漏洞数
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'moderate_risk_num', :value => "#{@report.moderate_risk_num}"}
            %tr
              %td{:style => 'width: 30%'}
                低位漏洞数
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'low_risk_num', :value => "#{@report.low_risk_num}"}

      %br
      %input{:type => 'hidden', :name => 'id', :value => "#{@report.id}"}
      %input{:type => 'submit', :value => '保存'}
      %button{:value => 'Cancel'} 取消
    - else
      %h3
        Hrm, there don't seem to be any report templates. An admin will need to <a href="/admin/templates/add">add</a> one -_-
