.span10
  %form{:method => 'post'}
    %br
    %h2 #{@report.report_name}
    %br
    - if @templates.size > 0
      %h4
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;修改下列信息将会出现在报告中.
      %br
      .table.table-striped
        %table{:style => 'width: 70%'}
          %tbody
            %tr
              %td{:style => 'width: 30%'}
                报告类型
              %td{:style => 'width: 70%'}
                %select{ :name => "report_type" }
                  - @templates.each do |template|
                    - if template.finding_template == false and template.status_template == false
                      - if template.report_type == @report.report_type
                        %option{ :selected => "selected" } #{template.report_type}
                      - else
                        %option #{template.report_type}
            %tr
              %td{:style => 'width: 30%'}
                标题
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'report_name', :value => "#{@report.report_name}"}
            %tr
              %td{:style => 'width: 30%'}
                公司全称
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'full_company_name', :value => "#{@report.full_company_name}"}
            %tr
              %td{:style => 'width: 30%'}
                公司简称
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'short_company_name', :value => "#{@report.short_company_name}"}
            %tr
              %td{:style => 'width: 30%'}
                公司主要
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'company_website', :value => "#{@report.company_website}"}
            %tr
              %td{:style => 'width: 30%'}
                公司地址
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_address', :value => "#{@report.contact_address}"}
            %tr
              %td{:style => 'width: 30%'}
                城市
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_city', :value => "#{@report.contact_city}"}
            %tr
              %td{:style => 'width: 30%'}
                省份
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_state', :value => "#{@report.contact_state}"}
            %tr
              %td{:style => 'width: 30%'}
                公司邮编
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_zip', :value => "#{@report.contact_zip}"}
            %tr
              %td{:style => 'width: 30%'}
                联系人姓名
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_name', :value => "#{@report.contact_name}"}
            %tr
              %td{:style => 'width: 30%'}
                邮件地址
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_email', :value => "#{@report.contact_email}"}
            %tr
              %td{:style => 'width: 30%'}
                联系人职位
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_title', :value => "#{@report.contact_title}"}
            %tr
              %td{:style => 'width: 30%'}
                联系电话
              %td{:style => 'width: 70%'}
                %input{:type => 'text', :style => 'width: 90%', :name => 'contact_phone', :value => "#{@report.contact_phone}"}
      %br
      %input{:type => 'hidden', :name => 'id', :value => "#{@report.id}"}
      %input{:type => 'submit', :value => '保存'}
      %button{:value => 'Cancel'} 取消
    - else
      %h3
        Hrm, there don't seem to be any report templates. An admin will need to <a href="/admin/templates/add">add</a> one -_-
