.span10
  %br
    %h3 当前模板
    %br  
    .table.table-striped
      %table{:style => 'width: 80%'}
        %tbody
          - if @templates
            %tr
              %td{ :style => 'width: 30%' }
                %b
                  报告类型
              %td{ :style => 'width: 30%' }
                %b
                  描述 
              %td{ :style => 'width: 30%' }
                %b
                  模板类型
              %td{ :style => 'width: 10%' }
                %b
            - @templates.each do |template|
              %tr
                %td{ :style => 'width: 30%' }
                  #{template.report_type}                  
                %td{:style => 'width: 15%'}
                  #{template.description}
                %td{:style => 'width: 15%'}
                  - if template.finding_template
                    漏洞模板
                  - elsif template.status_template
                    状态模板
                  - else
                    报告模板
                %td{:style => 'width: 60%'}
                  %a{:class => 'btn btn-info', :href => "/admin/templates/#{template.id}/edit"}
                    %i{:class => 'icon-pencil icon-white', :title => 'Edit'}
                  %a{ :class => "btn btn-danger", :href => "/admin/delete/templates/#{template.id}"}
                    %i{:class => 'icon-trash icon-white', :title => 'Delete Template'}
                  %a{:class => 'btn btn-info', :href => "/admin/templates/#{template.id}/download"}
                    %i{:class => 'icon-play-circle icon-white', :title => 'Preview'}
          - else
            没有模板，傻鹅，你要创建新的模板吗？